# ==========================================
# C# / .NET / Visual Studio Configurations
# ==========================================
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs